<div class="card">
  <div class="card-header"><h2>Skontaktuj się ze mną.</h2></div>
  <div class="card-body">

    <h2 class="text-center">RVBYGAMES</h2><br/>
    <h5 class="text-center">W razie pytań lub problemów prosimy o przesyłanie wiadomości na  adres <strong>rvbygames@gmail.com</strong>.</h5>
  </div>
  <div class="card-footer"><%= link_to 'Wróc', posts_path %></div>
</div>