<div class="card">
  <div class="card-header"><h2>Edycja ogłoszenia</h2></div>
    <div class="card-body">

<%= render 'form', post: @post %>



    </div>
  <div class="card-footer"><%= link_to 'Pokaż', @post %> |
    <%= link_to 'Wróc', posts_path %></div>
</div>