<!DOCTYPE html>
<html lang="pl-PL">
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-6 text-left">
        <h2>Dostępne ogłoszenia</h2>
      </div>
      <div class="col-sm-6 text-right">
        <a href="<%= new_post_path %>" class="btn btn-primary" role="button" type="submit" style="width:100px">Dodaj</a>
      </div>
    </div>
  </div>
  <div class="card-body">

    <%= render 'posts/ogloszenie' %>

  </div>
  <div class="card-footer">
    <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
</html>