<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-6 text-left">
        <h2>Dodaj nowe ogłoszenie</h2>
      </div>
      <div class="col-sm-6 text-right">
        <a href="<%= posts_path %>" class="btn btn-primary" role="button" style="width:100px">Powrót</a>
      </div>
    </div>
  </div>

  <div class="card-body">

<%= render 'form', post: @post %>

  </div>
</div>