<div class="card">
  <div class="card-header"><h2>Edycja ogłoszenia</h2></div>
  <div class="card-body">
<p>
  <strong>Opis ogłoszenia:</strong>
  <%= @post.description %>
</p>

  </div>
  <div class="card-footer"><%= link_to 'Edytuj', edit_post_path(@post) %> |
    <%= link_to 'Wróc', posts_path %></div>
</div>